doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
        title Регистрация 2
    body 
        .reg-wrapper-green
            .reg-window-green
                p <span> Добро пожаловать!</span><br>Если у вас есть аккаунт 
                    a(href="") войдите 
                form(action="").reg-window__form
                    input(type="text", name="" placeholder="Придумайте логин")
                    input(type="text", name=""  placeholder="Придумайте пароль")
                    input(type="text", name="" placeholder="Повторите пароль")
                    input(type="submit", value="Зарегестрироваться")

                        
    
