@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

$mainBlue: #2355d7;

button:hover {
    cursor: pointer;
}
input[type="submit"]:hover {
    cursor: pointer;
}

// ============ASIDE==============
aside {
    padding: 40px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 20px;

    display: block;

    h1 {
        margin-bottom: 70px;
        font-size: 36px;
    }
    button {
        width: 100%;
        background-color: $mainBlue;
        border: none;
        border-radius: 10px;
        padding: 15px 10px;
        margin-bottom: 40px;
        color: white;
        font-size: 20px;
    }
}
// ================ТАБЛИЦА ТЕМ======================
// Враппер
.topics-list-wrapper {
    width: 95%;
    min-height: 700px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto 342px;
    column-gap: 15px;
}
// Таблица
.topics-list-container {
    border: 1px solid black;
}
.topics-list {
    height: 100%;
    border-collapse: collapse;
    width: 100%;
    border: none;

    td,
    th {
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-collapse: collapse;
        padding: 10px;
        text-align: left;
    }
    .header {
        th {
            border-right: none;
            h1 {
                float: left;
                font-size: 36px;
                font-weight: 400;
            }
            input {
                float: right;
                height: 40px;
                width: 200px;
                padding-left: 10px;
                border-radius: 10px;
                border: 0.5px solid grey;
            }
        }
    }
    .column-btns {
        width: 200px;
        text-align: center;
        border-right: none;
        button {
            width: 200px;
            background-color: $mainBlue;
            border: none;
            border-radius: 10px;
            padding: 15px 10px;
            color: white;
            font-size: 18px;
        }
    }
    .topics-list__bottom {
        height: 100%;
    }
}

// ==============РЕГИСТРАЦИЯ===============
// Враппер
.reg-wrapper {
    width: 100%;
    height: 100%;
    // Окно
    .reg-window {
        margin: 100px auto;
        width: 340px;
        display: block;
        p {
            margin-bottom: 20px;
            span {
                font-size: 24px;
                font-weight: 600;
            }
            a {
                color: $mainBlue;
                text-decoration: underline;
            }
        }

        .reg-window__form {
            display: block;
            input {
                width: 100%;
                height: 40px;
                padding-left: 10px;
                border-radius: 5%;
                margin-top: 20px;
                border: 0.5px solid grey;
            }
            input[type="submit"] {
                background-color: black;
                border: none;
                color: white;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}
//===================== СОЗДАТЬ ТЕМУ====================
.topic-creation {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    .topic-creation-container {
        border: 1px solid black;
        border-radius: 10px;
        text-align: left;
        width: 100%;
        height: 100%;
        display: grid;
        column-gap: 0px;
        grid-template-columns: 300px auto 400px;
        grid-template-rows: 60px 200px;
        grid-template-areas:
            "header header header"
            "name descr prepod";
        textarea,
        input {
            width: 100%;
            margin: 10px auto;
            resize: vertical;
            max-height: 70%;
        }

        .create-form-slot {
            padding: 10px;
        }
        .topic-creation__header {
            grid-area: header;
            border: none;
            border-bottom: 1px solid black;
        }
        .topic-creation__name {
            grid-area: name;
            border-right: 1px solid black;
        }
        .topic-creation__desc {
            grid-area: descr;
            border-right: 1px solid black;
        }
        .topic-creation__prepod {
            grid-area: prepod;
        }
    }
    #add_topic {
        width: 200px;
        margin-top: 50px;
        background-color: $mainBlue;
        border: none;
        border-radius: 10px;
        padding: 15px 10px;
        color: white;
        font-size: 20px;
    }
}

// ========================================================================================
// ========================================================================================
// ========================================================================================

$salat: #8bbb3d;
$bean: #bf5139;
// Враппер
.topics-list-wrapper-green {
    background-color: $salat;
    width: 95%;
    min-height: 700px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 342px auto;
    column-gap: 15px;
    border-radius: 20px;
    padding: 20px;
}

// ============ASIDE==============
.aside-green {
    padding: 30px;
    text-align: center;
    color: white;
    display: block;
    .aside-buttons {
        padding: 30px 10px 0px 10px;
        background-color: $bean;
        border-radius: 20px;
        button {
            width: 100%;
            background-color: black;
            border: none;
            border-radius: 10px;
            padding: 15px 10px;
            margin-bottom: 40px;
            color: white;
            font-size: 20px;
        }
    }
    h1 {
        margin-bottom: 70px;
        font-size: 30px;
    }
}
// ================ТАБЛИЦА ТЕМ======================

// Таблица
.topics-list-container-green {
    background-color: #ffffff;
    border-radius: 10px;

    .topics-list {
        height: 100%;
        border-collapse: collapse;
        width: 100%;
        border: none;
        td,
        th {
            border-collapse: collapse;
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid black;
            border-right: none;
            border-left: none;
        }
        .header {
            border: none;
            th {
                h1 {
                    float: left;
                    font-size: 36px;
                    font-weight: 400;
                }
                input {
                    float: right;
                    height: 40px;
                    width: 200px;
                    padding-left: 10px;
                    border-radius: 10px;
                    border: 0.5px solid grey;
                }
            }
        }
        .column-btns {
            width: 200px;
            text-align: center;
            button {
                width: 200px;
                background-color: $mainBlue;
                border: none;
                border-radius: 10px;
                padding: 15px 10px;
                color: white;
                font-size: 18px;
            }
        }
        .topics-list__bottom {
            height: 100%;
        }
    }
}

// ===================РЕГИСТРАЦИЯ ЗЕЛЕНАЯ================
.reg-wrapper-green {
    width: 100%;
    height: 100%;
    .reg-window-green {
        background-color: #8bbb3d;
        margin: 100px auto;
        width: 370px;
        padding: 30px;
        display: block;
        p {
            color: white;
            margin-bottom: 20px;
            span {
                font-size: 24px;
                font-weight: 600;
            }
            a {
                color: $mainBlue;
                text-decoration: underline;
            }
        }

        .reg-window__form {
            display: block;
            input {
                width: 100%;
                height: 40px;
                padding-left: 10px;
                border-radius: 5%;
                margin-top: 20px;
                border: 0.5px solid grey;
            }
            input[type="submit"] {
                background-color: black;
                border: none;
                color: white;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

//===================== СОЗДАТЬ ТЕМУ===================================================
.topic-creation-green {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    color: white;
    .topic-creation-container {
        background-color: $salat;
        border: 1px solid white;
        border-radius: 10px;
        text-align: left;
        width: 100%;
        height: 100%;
        display: grid;
        column-gap: 0px;
        grid-template-columns: 300px auto 400px;
        grid-template-rows: 60px 200px;
        grid-template-areas:
            "header header header"
            "name descr prepod";
        textarea,
        input {
            width: 100%;
            margin: 10px auto;
            resize: vertical;
            max-height: 70%;
        }

        .create-form-slot {
            padding: 10px;
        }
        .topic-creation__header {
            grid-area: header;
            border: none;
            border-bottom: 1px solid black;
        }
        .topic-creation__name {
            grid-area: name;
            border-right: 1px solid black;
        }
        .topic-creation__desc {
            grid-area: descr;
            border-right: 1px solid black;
        }
        .topic-creation__prepod {
            grid-area: prepod;
        }
    }
    #add_topic {
        width: 200px;
        margin-top: 50px;
        background-color: $mainBlue;
        border: none;
        border-radius: 10px;
        padding: 15px 10px;
        color: white;
        font-size: 20px;
    }
}
